@media only screen and (min-width: 900px){

    #mangas-list-body{
        max-height: 80vh;
        overflow: auto;
    }
    
}

@media only screen and (hover: none) and (pointer: coarse){

    #mangas-list-body{
        max-height: 70vh;
        overflow: auto;
    }
    
}

#manga-image{
    width: 30%;
}

#manga{
    margin-bottom: 2%;
}

#manga-row{
    margin-top: 2%;
}

.card-horizontal{
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
}