<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/mangas">Manga List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"routerLink="/mangas" routerLinkActive="active">Mangas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/publishers" routerLinkActive="active">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/authors" routerLinkActive="active">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/illustrators" routerLinkActive="active">Illustrators</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="getUsername() === ''">
        <a class="nav-link"routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="getUsername().length > 0">
        <a class="nav-link"> {{username}}</a>
      </li>
      <li class="nav-item" *ngIf="getUsername().length > 0">
        <a class="nav-link"(click) = "logout()"> Logout</a>
      </li>
      <li class="nav-item" *ngIf="getUsername() === ''">
        <a class="nav-link"routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>