<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" id="publisher-details">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">Name:</div>
                        </div>
                        <div class="row">
                            <div class="col">{{publisher.name}}</div>
                        </div>
                        <div class="row" id="website-row">
                            <div class="col">Website:</div>
                        </div>
                        <div class="row">
                            <div class="col"><a href="{{publisher.websiteURL}}">{{publisher.websiteURL}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card" id="available-mangas">
                <div class="card-header bg-primary text-white">Available manga's from {{publisher.name}}</div>
                <div class="card-body" id="list-manga">
                    <div class="card" id="manga" *ngFor="let manga of mangas">
                        <div class="card-horizontal">
                            <img class="card-img-left" src="../../assets/placeholder-image.png" alt="Manga Cover" id="manga-image">
                            <div class="body" id="manga-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">{{manga.title}}</h5>
                                        </div>
                                </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">Author:</div>
                                        <div class="Col">{{manga.author.firstname}} {{manga.author.lastname}}</div>
                                    </div>
                                    <div class="row" *ngIf="manga.coAuthor != null">
                                        <div class="col">Co-Author:</div>
                                        <div class="Col">{{manga.coAuthor.firstname}} {{manga.coAuthor.lastname}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Illustrator:</div>
                                        <div class="Col">{{manga.illustrator.firstname}} {{manga.illustrator.lastname}}</div>
                                    </div>
                                    <div class="row" *ngIf="manga.coIllustrator != null">
                                        <div class="col">Co-Illustrator:</div>
                                        <div class="Col">{{manga.coIllustrator.firstname}} {{manga.coIllustrator.lastname}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>