<div class="container-fluid">
    <div class="row justify-content-center" id="manga-detail-row">
        <div class="col-md-3 col-sm-1">
            <img src="../../assets/placeholder-image.png" class="img-fluid" alt="Manga Cover" id="manga-image">
        </div>
        <div class="col-md-5 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{manga?.title}}</h5>
                    <div class="card-text" style="white-space:pre-wrap">{{manga?.description}}</div>
                    <div class="card-text" id="author-illustrator-row">
                        <div class="row" id="author-row">
                            <div class="col">Author:</div>
                            <div class="col"><a [routerLink]="['/authors', manga?.author?.id]" >{{manga?.author?.firstname}} {{manga?.author?.lastname}}</a></div>
                        </div>
                        <div class="row" id="co-author-row" *ngIf="manga?.coAuthor != null">
                            <div class="col">Co-Author:</div>
                            <div class="col"><a [routerLink]="['/authors', manga?.coAuthor?.id]" >{{manga?.coAuthor?.firstname}} {{manga?.coAuthor?.lastname}}</a></div>
                        </div>
                        <div class="row" id="illustrator-row">
                            <div class="col">Illustrator:</div>
                            <div class="col"><a [routerLink]="['/illustrators', manga?.illustrator?.id]" >{{manga?.illustrator?.firstname}} {{manga?.illustrator?.lastname}}</a></div>
                        </div>
                        <div class="row" id="co-illustrator-row" *ngIf="manga?.coIllustrator != null">
                            <div class="col">Co-Illustrator:</div>
                            <div class="col"><a [routerLink]="['/illustrators', manga?.coIllustrator?.id]" >{{manga?.coIllustrator?.firstname}} {{manga?.coIllustrator?.lastname}}</a></div>
                        </div>
                        <div class="row" id="publisher-row">
                            <div class="col">Publisher:</div>
                            <div class="col" ><a [routerLink]="['/publishers', manga?.publisher?.id]" >{{manga?.publisher?.name}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
