#illustrator-details{
    margin-top: 2%;
}

#website-row{
    margin-top: 5%;
}

#available-mangas{
    margin-top: 1%;
}

#manga-image{
    width: 25%;
}

#manga-body{
    margin-left:2%;
}

#manga{
    margin-bottom: 2%;
    cursor:pointer;
}

.card-horizontal{
    display: flex;
    flex: 1 1 auto;
}

@media only screen and (min-width: 900px){

    #list-manga{
        max-height: 80vh;
        overflow: auto;
    }
    
}

@media only screen and (hover: none) and (pointer: coarse){

}